<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h2 style="color:darkblue;text-align:center">CONTACT US</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="col-lg-4>
    <div class="sidebar-item contact-information">
        <div class="sidebar-heading">
            <h2 style="color:darkslateblue;">Contact Information</h2>
        </div>
        <div class="content">
            <ul>
                <li>
                    <h5>090-216-8080</h5>
                    <span>PHONE NUMBER</span>
                </li>
                <li>
                    <h5>info@busradigitaltechnologies.com</h5>
                    <span>EMAIL ADDRESS</span>
                </li>
                <li>
                    <h5>
                        Maslak, Eski Büyükdere Cd. No:1,
                        <br>34485 Sarıyer/İstanbul
                    </h5>
                    <span>STREET ADDRESS</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
          </div>
        </div>
        <img src="/img/communication.jpg"alt="comm" class="center1">
    <div style="text-align:center">
        <h1 class="headline">Let Us Know Your Requests.</h1>
      </div>
    <form action="register.aspx">
    <div class="text1" style="text-align:center">
        <input type="text" placeholder="Your Name"id="name">
    </div>
    <br>
    <div class="text2" style="text-align:center">
        <input type="text" placeholder="Your Surname"id="Surname">
    </div>
    <br>
    <div class="text3" style="text-align:center">
       <input type="text" placeholder="Your Email" id="Email">
    </div>
    <br>
    <div class="text4" style="text-align:center">
    <textarea name="Message" placeholder="Your Message"cols="30"></textarea>
</div>
    <br><br>
    <div class="text5" style="text-align:center">
        <button><a style="color:black;" href="/Home/Thanks">Send Message!</a></button>
    </a>
    </div>
    </form>
<br>
<br>