@{
    ViewData["Title"] = "Home Page";
}


<a href="Home/Article1"> <img src="~/img/bannernew.png" class="container-fluid" /> </a>
<br /><br />
<body style="background-color:whitesmoke">
</body>
<section class="call-to-action">
    <div class="container">
        <div class="banner">
            <span><i>Digital Marketing</i></span>
            <h3>Ultimate Guide For Digital Marketing-FREE!</h3>
            <div class="col-lg-4">
                <div class="main-button">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-content">
                                <div class="row">
                                    <div class="col-lg-8">
                                    </div>
                                    <div class="col-lg-6">
                                        <p><a style="text-align:center;" href="https://www.digitalmarketer.com/digital-marketing/assets/pdf/ultimate-guide-to-digital-marketing.pdf" class="btn btn-secondary">Download Now!</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <br /><br />
</section>
<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="~/img/1.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <p style="color:blue"><strong><i>Technology</i></strong></p>
                                    <a href="/Home/Article1" class="typo"><h3>An Actionable 10-Step Guide to Launch A Tech Startup</a></h3>
                                    <ul class="post-info">
                                        <li class="admin1">Busra Nur</a></li>
                                        <li class="may1">May 31, 2023</a></li>
                                        <li class="comments1">12 Comments</a></li>
                                    </ul>
                                    <p style="color:darkblue;">Starting a tech business means understanding and dealing with finance, legal, sales, and marketing issues. As you are interested in starting a tech business, you have taken the leap of faith to become a doer.<a style="color:darkblue;"href="/Home/Article1" class="seemore1">See More</a></p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="~/img/2.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <p style="color:blue"><strong><i>Entrepreneurship</i></strong></p>
                                    <a href="/Home/Article2" class="typo1"><h3>Top Challenges Faced by Non-tech Founders</a></h3>
                                    <ul class="post-info">
                                        <li class="admin2">Merve Cicek</a></li>
                                        <li class="Jan2">Jan 24, 2024</a></li>
                                        <li class="comments2">36 Comments</a></li>
                                    </ul>
                                    <p style="color:darkblue;">If you have a great idea for an app or software, starting a tech business might seem like the obvious choice.But it’s not as simple as it seems. The world of technology can be intimidating for non-tech founders who may not understand the ins and outs of these products.<a style="color:darkblue;"href="/Home/Article2" class="seemore2">See More</a></p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                            </div>
                                            <div class="col-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="~/img/3.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <p style="color:blue"><strong><i>Technology</i></strong></p>
                                    <a href="/Home/Article3" class="typo2"><h3>How to Redesign An App for Scaling: The Complete Guide</a></h3>
                                    <li class="admin3">Hande Gul</a></li>
                                    <li class="Feb3">Feb 14, 2023</a></li>
                                    <li class="Comments3">48 Comments</a></li>
                                    </ul>
                                    <p style="color:darkblue;">Read on to understand how to revamp your app and prepare it for a scaling process without affecting your current performance or bringing your business to a standstill.<a style="color:darkblue;"href="/Home/Article3" class="seemore3">See More</a></p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                            </div>
                                            <div class="col-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading1">
                                    <h2>Recent Posts</h2>
                                </div>
                                <div class="content1">
                                    <ul>
                                        <li>
                                            <a href="/Home/Article1" class="content1">
                                                <h5 style="color:darkslateblue;">An Actionable 10-Step Guide to Launch A Tech Startup</h5>
                                                <span style="color:darkslateblue;">May 31,2023</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Home/Article2" class="content2">
                                                <h5 style="color:darkslateblue;">Top Challenges Faced by Non-tech Founders</h5>
                                                <span style="color:darkslateblue;">Jan 24, 2024</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Home/Article3" class="content3">
                                                <h5 style="color:darkslateblue;">How to Redesign An App for Scaling: The Complete Guide</h5>
                                                <span style="color:darkslateblue;">Feb 14, 2023</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item categories">
                                <div class="col-lg-12">
                                    <div class="sidebar-item tags">
                                        <div class="sidebar-heading2">
                                        </div>
                                        <div class="content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>











