<h1 style="text-align:center;color:darkslateblue;">THANK YOU.</h1><br /><br />
<h3 style="text-align:center;color:darkblue;"> Our regarding departments will have a contact with you as soon as possible!</h3> 
<img src="~/img/submit.jpg" class="submittingform" />